<!DOCTYPE html>
<html>
    <head>
        <title>Credit Card Fraud Prediction</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1>Welcome to the Home page for Predicting Credit Card Fraud</h1>

        <p>This application will allow to you predict whether a transaction is fraudulent. 
            Please click on the link below to begin.
        </p>

        <a href="predict.html" target="_blank">
            <button style="background-color: blue; color: white;">Start Prediction</button>
        </a>
    </body>
</html>